body {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(65, 61, 57);
  background-color: rgb(253, 238, 173);
  border: 5px solid  rgb(65, 61, 57);
  text-align: center;
  margin: 5%;
}

img {
  width: 80%;
  border: 5px solid  rgb(65, 61, 57);
}

.last-gif {
  margin: 5%;
}

hr {
  height: 3px;
  background-color: rgb(65, 61, 57);
}

.container-fluid {
  background-color: whitesmoke;
}

.jumbotron {
  overflow: auto;
  color: rgb(253, 238, 173);
  text-shadow: 3px 3px rgb(65, 61, 57);
  background-color: #fa476e;
  border: 5px solid  rgb(65, 61, 57);
  padding: 1%;
  margin-top: 3%;
}

.btn-lg {
  font-size: 2em;
  color: white;
  background-color: #fa476e;
  border: 5px solid  rgb(65, 61, 57);
  margin-bottom: 5%
}

.btn-lg:hover {
  font-size: 2em;
  border: 5px solid rgb(65, 61, 57);
  background-color: rgb(253, 238, 173);
  margin-bottom: 5%;
}

.btn-md, .refresh, .select {
  font-size: 1em;
  color: white;
  background-color: #fa476e;
  border: 2px solid  rgb(65, 61, 57);
  margin: 1%;
}

.btn-md:hover, .refresh:hover, .select:hover {
  font-size: 1em;
  color:  rgb(65, 61, 57);
  border: 2px solid  rgb(65, 61, 57);
  background-color: rgb(253, 238, 173);
  margin-bottom: 1%;
}

label {
  font-size: 1.5em;
}

.select {
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 5%;
  padding-right: 5%;
}

#order-screen, #final-screen {
  display: none;
}

.order {
  padding: 5%;
}

.price {
  color: #fa476e;
  text-shadow: 3px 3px rgb(65, 61, 57);
  font-size: 3em;
}

.options {
  display:none;
}

@media screen and (min-width: 800px) {
  body {
    margin-right: 10%;
    margin-left: 10%
  }
  img {
    width: 40%;
  }
  .jumbotron {
    margin-top: 2%;
    margin-left: 20%;
    margin-right: 20%;
  }
  .order {
    padding: 2%;
  }
  .last-gif {
    margin-top: 2%;
    margin-bottom: 2%;
  }
}