body {
  background-color: rgb(245, 245, 215);
  text-align: center;
}

.container {
  background-color: whitesmoke;
}

.jumbotron {
  overflow: auto;
}

.order {
  display: none;
}

.price {
  color: red;
  font-size: 2em;
}

.select {
  color: white;
  background-color: blue;
}

.select:hover {
  color: red;
  background-color: yellow;
}

.toppings {
  display:none;
}